@font-face {
  font-family: "tools";
  src: url("../typefaces/VTFMisterPixel-Tools.woff2") format("woff2");
}

@media only screen and (max-width: 600px) {
  h1 {
    font-family: "tools";
    font-size: 7em;
    font-style: normal;
    line-height: 70%;
    font-weight: 400;
    text-align: left;
  }
}
