@font-face {
  font-family: "Solide Mirage";
  src: url("../typefaces/Solide_Mirage-Etroit_web.woff2") format("woff2");
}


body {
  font-family: "Solide Mirage", serif;
}

h3 {
  font-size: 25px;
}

p {
  line-height: 140%;
}