footer {
  color: black;
  padding: 20px;
  margin-bottom: 20px;
}


.footer__note {
  margin-top: 1em;
}

.footer__note a {
  font-weight: black;
  color: #42FFC6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9AA4FF;
}

.footer__note a:hover {
  color: transparent;

  -webkit-text-stroke-color: black;

}

@media only screen and (max-width: 600px) {}