body {
  overflow: scroll;
  position: fixed;


}

.piano {
  background: linear-gradient(90deg, #FFF9BF 0%, #DCFDD8 62.46%, #FCFF5E 69.23%, #D4FEDE 77.05%, #C7FFE7 100%);

}

.piano__top {
  height: 65vh;
  padding: 20px;
}

.piano__top__start__inactive {
  margin-top: 50vh;
  color: black;
  transition-duration: 0.4s;
  animation: jump 1.6s ease-in-out infinite;
  cursor: pointer;
}

.jump {
  color: #FF4D00;
  opacity: 100%;
}

.fade {
  opacity: 0%;
}

@keyframes jump {
  0% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(8px);

  }

  100% {
    transform: translateY(-8px);
  }
}

.piano__allkeys {
  transform: translateX(-2px);
  height: 3800px;
}

.piano__whitekey {
  position: absolute;
}

.piano__whitekey__key {
  width: 260px;
  height: 80px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 0px 10px 10px 0px;
  transition-duration: 0.2s;
}

.piano__blackkey {
  position: absolute;
  margin-top: 55px;

}

.piano__blackkey__key {
  width: 160px;
  height: 60px;
  background: #9AA4FF;
  border: 1px solid #000000;
  border-radius: 0px 10px 10px 0px;
  margin-bottom: 20px;
  transition-duration: 0.2s;


}

.piano__blackkey__key-none {
  width: 160px;
  height: 60px;

  margin-bottom: 20px;
}

.active-white {
  margin-left: 30px;
  background: #42FFC6
}

.active-black {
  margin-left: 50px;
  background: #262E77;

}

.fadeOut {
  opacity: 0;
  transition-duration: 0.2s;
}

@media only screen and (min-width: 600px) {
  .piano__top {
    padding: 50px;
  }
}