@media only screen and (max-width: 600px) {
  .piano__hero {
    margin: 20px;
    margin-bottom: 40px;
  }

  .piano__cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: linear-gradient(180deg, rgba(44, 48, 61, 0) 0%, #2c303d 100%);
  }

  .piano__hero__title {
    color: rgba(205, 231, 255, 0.6);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 0px 22.8325px #99ceff;
  }

  .piano__hero__play {
    margin-top: 30vh;
    text-align: right;
    background-color: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffa89c;
    color: #2c303d;
    transition: 0.2s;
  }

  .piano__hero__play:hover {
    color: rgba(255, 168, 156, 0.6);
    text-shadow: 0px 4px 30px #ffa89c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .piano__allkeys {
    transform: translateX(-2px);
  }

  .piano__whitekey {
    position: absolute;
  }

  .piano__whitekey__key {
    width: 260px;
    height: 80px;
    background: rgba(205, 231, 255, 0.6);
    border: 1px solid #ffffff;
    box-shadow: inset 0px 0px 21.6981px #99ceff;
    border-radius: 0px 5px 4.33962px 0px;
  }

  .piano__blackkey {
    position: absolute;
    margin-top: 55px;
  }

  .piano__blackkey__key {
    width: 160px;
    height: 60px;
    background: #2c303d;
    border: 0.433962px solid #ff806f;
    box-shadow: inset 0px 0px 17.3585px #ff624d;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 20px;
  }

  .piano__blackkey__key-none {
    width: 160px;
    height: 60px;
    background: #2c303d;
    opacity: 0;
    border: 0.433962px solid #ff806f;
    box-shadow: inset 0px 0px 17.3585px #ff624d;
    border-radius: 0px 5px 5px 0px;
    margin-bottom: 20px;
  }

  .active-white {
    background: #cde7ff;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 50px #99ceff;
  }

  .active-black {
    background: #ffb2b2;
    border: 1px solid #ffa196;
    box-shadow: inset 0px 0px 50px #ff806f;
  }

  .fadeOut {
    opacity: 0;
    transition-duration: 0.2s;
  }
}
